asgiref==3.8.1
boto3==1.24.36
botocore==1.27.96
crispy-bootstrap4==2025.6
dj-database-url==3.0.1
Django==5.2.1
django-crispy-forms==2.4
environs==14.2.0
gunicorn==23.0.0
jmespath==1.0.1
marshmallow==4.0.0
packaging==25.0
pillow==11.2.1
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
s3transfer==0.6.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==1.26.20
whitenoise==6.9.0
