{% load static %}
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" href="{%url 'meetups' %}">
        <img src="{% static 'meetup/images/logo.png' %}" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'meetups' %}">Home
            <span>/</span>
          </a>
        </li>
        {%if request.user.is_authenticated%}
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#"  data-toggle="dropdown">Dashboard
            <span>/</span>
          </a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            <a class="dropdown-item" href="index.html">My meetup</a>
            <a class="dropdown-item" href="homepage-two.html">Speakers</a>
              <a class="dropdown-item" href="homepage-two.html">Profile</a>
               <a class="dropdown-item" href="homepage-two.html">
                <form  method="POST" action="{%url 'logout' %}">
    {%csrf_token%}
   
<button type="submit" class="btn">Logout</button>
</form>
               </a>
              
       
       {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
 
        <form action="" method="GET">
          <div class="input-group">
<input type="search" name="q" placeholder="search" class="form-control">
    <button type="submit" class="btn btn-secondary">search</button>
          </div>
    

</form>
      </ul>
      {%if request.user.is_authenticated%}
      <a href="#" class="ticket">
        <img src="{% static 'meetup/images/icon/ticket.png' %}" alt="ticket">
    
        <span>Hi,  {{request.user.username}}</span>
      </a>
      {%else%}
      <a href="{%url 'login' %}" class="ticket">
        <img src="{% static 'meetup/images/icon/ticket.png' %}" alt="ticket">
    
        <span>Login</span>
      </a>
      {%endif%}
      </div>
  </div>
</nav>
