<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meetup.title}}</title>
</head>
<body>
    <h2>{{meetup.title}} participants</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Send</th>
        </tr>
        {% for participant in participants%}
        <tr>
            <td>{{participant.name}}</td>
            <td>{{participant.email}}</td>
        <td><a href="mailto:{{partipant.email}}"> Send Email</a></td>
        </tr>
        {%endfor%}
    </table>

    <p>Count: {{count}}</p>
    
</body>
</html>